body{
    background-color: #F09FE0;
}

.navbar {
    overflow: hidden;
    background-color: #FFF3E2;
    
}

.navbar a {
    float: right;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: #FFF3E2;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #FFF3E2;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF3E2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #FFF3E2;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.login{
    position: absolute;
    left: 50%;
    top: -5%;
    transform: translate(-50%,-50%);
    padding: 10px 10px;
    margin-top: 180px;
    width: 300px;
    text-align: center;
    background-color: #FFF3E2;
    border: solid 3px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
    border-radius: 10px;
    font-size:larger;
}